{% extends 'base.html' %}

{% block title %}
{{ title }}
{% endblock title %}

{% block main %}
<main>
<!-- Navbar-->
    {% include 'components/_navbar.html' %}
    <div class="container">
      <!-- HERO SECTION-->
      <section class="py-5 bg-light">
        <div class="container">
          <div class="row px-4 px-lg-5 py-lg-4 align-items-center">
            <div class="col-lg-6">
              <h1 class="h2 text-uppercase mb-0">Мои избранные товары</h1>
            </div>
            <div class="col-lg-6 text-lg-end">
              <nav aria-label="breadcrumb">
                <ol class="breadcrumb justify-content-lg-end mb-0 px-0 bg-light">
                  <li class="breadcrumb-item"><a class="text-dark" href="{% url 'index' %}">Главная</a></li>
                  <li class="breadcrumb-item active" aria-current="page">Избранные</li>
                </ol>
              </nav>
            </div>
          </div>
        </div>
      </section>
      <section class="py-5">
        <div class="container p-0">
          <div class="row">
            <!-- SHOP LISTING-->
            <div class="col-lg-9 order-1 order-lg-2 mb-5 mb-lg-0">
              <div class="row mb-3 align-items-center">
                {% if products %}
                    <div class="col-lg-6 mb-2 mb-lg-0">
                      <p class="text-sm text-muted mb-0">Showing 1–12 of 53 results</p>
                    </div>
                    <div class="col-lg-6">

                    </div>
                  </div>
                  <div class="row">
                <!-- PRODUCT-->
                {% for product in products %}
                <div class="col-lg-4 col-sm-6">
                {% include 'shop/components/_product_cart.html' %}
                </div>
                {% endfor %}
                {% include 'shop/components/_pagination.html' %}
                {% else %}
                <div class="div-title">
                    <img src="https://uzum.uz/static/img/hearts.cf414be.png" class="image-title">
                    <h4 class="h4-title">
                        Добавьте то, что понравилось
                    </h4>
                    <br> 
                    <p class="p-title">
                        Нажмите на ♡ в товаре. Войдите в аккаунт и всё избранное сохранится
                    </p>
                </div>
                <div><div style="margin-top: 100px;"></div></div>
                {% endif %}
              </div>
            </div>
          </div>
        </div>
      </section>
    </div>
<!-- footer -->
    {% include 'components/_footer.html' %}     
</main>
{% endblock main %}