<section class="py-5">
    <div class="container p-0">
      <div class="row gy-3">
        <div class="col-lg-6">
          <h5 class="text-uppercase">Подписаться</h5>
          <p class="text-sm text-muted mb-0">Чтобы получать уведомлениния о скидках</p>
        </div>
        <div class="col-lg-6">
          <form action="{% url 'save_mail' %}" method="post">
            <div class="input-group">
              {% csrf_token %}
              <input name="email" class="form-control form-control-lg" type="email" placeholder="Введите свою почту" aria-describedby="button-addon2">
              <button class="btn btn-dark" id="button-addon2" type="submit">Подписаться</button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </section>